<footer>
    <!-- <a href= target="_blank"><img src="images/facebook.png"></a> -->
<!-- link_to image_tag("Search.png", border: 0), {action: 'search', controller: 'pages'}, {class: 'dock-item'} -->
    <%= link_to image_tag("facebook.png"), "https://www.facebook.com/shineregistry/", target: :_blank %>
    <%= link_to image_tag("instagram.png"), "https://www.instagram.com/shineregistry", target: :_blank %>
    <%= link_to image_tag("email.png"), "mailto:shineregistry@gmail.com" %>
    <!--images from http://www.stumblinguponhappiness.com/free-chalkboard-social-media-icons/ -->
    <br>
    <%= link_to "Contact", contact_path %>
    <!---= link_to "Help", help_path %> --> <!-- doens't exist yet-->
    <%= link_to "Privacy", privacy_path %>
    <a href="#navbar navbar-inverse">Top of the Page</a>
</footer>
