<div class="container-fluid">
  <nav class="navbar navbar-inverse">
    <section class="top-bar-section">
      <ul class="nav navbar-left">


        <li><%= link_to "Home", home_path %></li>

        <li>
          <%= link_to "Registries", registries_path %>
        </li>

        <li>
          <%= link_to "Create Registry", new_registry_path %>
        </li>

        <li>
          <%= link_to "About", about_path %>
        </li>

        <li>
          <%= link_to "Contact", contact_path %>
        </li>

        <li>
          <%= link_to "Privacy", privacy_path %>
        </li>

        <li>
          <%= link_to "Users", users_path %>
        </li>


      </ul>
		<!-- options for logins -->
      <ul class="nav navbar-right">
        <li><% if logged_in? %>
          <%= link_to 'Cart', current_cart_path %>
          <% end %>
        </li>
    		<li><% if logged_in? %>
    			  <%= link_to 'Logout', logout_path %>
    			<% else %>
    			  <%= link_to 'Login', login_path %>
    			<% end %>
    		</li>
    		<li><% if not logged_in? %>
    				<%= link_to 'Sign up', signup_path %>
    			<% end %>
    		</li>
      </ul>

    </section>
  </nav>
</div>
