
    <h3><%= @user.name %></h3>
<p>
  <b>Email</b>: <%= @user.email %>
</p>
<p>
  <b>Phone</b>: <%= @user.phone %>
</p>

<p>
  <b>Username</b>: <%= @user.username %>
</p>

<p>
   <% unless @user.avatar_url.nil? %>
    <p><%= image_tag @user.avatar_url %></p>
  <% end %>
</p>

<% if admin? || manager? %>
  <p> 
    <b> Role</b>: <%= @user.role %>
  </p>
  <p>
    <b>Active</b>: <%= @user.active ? 'Yes' : 'No' %>
  </p>

<% end %>

  <a href=<%= edit_user_path(@user) %> class="button">Edit Information</a>

 
