<div id="top_row">
    <header>
        
        <h3>Manager Home Page</h3>
    </header>
</div>

<div id="content">
	<%= column_chart @activeRegistries, label: "Active Registries" %>
    <%= line_chart @createdRegistries, label: "Created Registries" %>
    <%= line_chart @updatedRegistries, label: "Updated Registries" %>

    <%= column_chart @activeUsers, label: "Active Users" %>
    <%= line_chart @createdUsers, label: "Created Users" %>
    <%= pie_chart @userRoles, label: "User Roles" %>

    <%= line_chart @orderCounts, label: "Order Counts" %>
    <%= line_chart @ordersGrandTotal, label: "Orders Grand Total" %>

    <%= column_chart @activeOrganizations, label: "Active Organizations" %>
    <%= line_chart @createdOrganizations, label: "Created Organizations" %>
    <%= pie_chart @forProfitOrganizations, label: "For-Profit and Nonprofit Organizations" %>
    <%= pie_chart @organizationIndustries, label: "Organization Industries" %>

    <%= line_chart @createdRegistryItems, label: "Created Registry Items" %>
    <%= line_chart @updatedRegistryItems, label: "Updated Registry Items" %>
    <%= pie_chart @registryItemsContent, label: "Registry Items Content" %>

    <%= line_chart @createdNewsLetterSubscribers, label: "Created News Letter Subscribers" %>
</div>
