<div id="top_row">
    <header>
        <h2>Shine Registry</h2>
    </header>
</div>

<div id="content">
		<%= line_chart @visitCounts, label: "Visit Counts" %>
		<%= column_chart @visitCountsByDayOfWeek, label: "Visit Counts by Day of Week" %>
        <%= column_chart @referralCounts, label: "Referral Counts" %>
		<%= column_chart @referringDomains, label: "Referring Domains" %>
        <%= pie_chart @landingPages, label: "Landing Pages" %>
		<%= pie_chart @deviceTypes, label: "Device Types" %>
		<%= column_chart @utmSources, label: "UTM Sources" %>
		<%= column_chart @utmMediums, label: "UTM Mediums" %>
		<%= column_chart @utmTerms, label: "UTM Terms" %>
		<%= column_chart @utmContent, label: "UTM Content" %>
		<%= geo_chart @visiterCountries, label: "Visiter Countries" %>
</div>
