<div id="top_row">
    <header>
        <h2>Shine Registry</h2>
    </header>
    
    <div id="nav">
        <a href="home.html.erb">Home</a>
        <a href="find_registry.html.erb">Find a Registry</a> <!--Doesn't exist yet-->
        <a href="create_registry.html.erb">Create a Registry</a> <!--Doesn't exist yet-->
        <a href="about.html.erb">About</a>
        <a href="contact.html.erb">Contact</a>
    </div>
    
    <p>Search Bar</p>
    
    <div id="account_nav">
        <a href="sign_in.html.erb">Sign in</a> <!--Doesn't exist-->
        <a href="create_account.html.erb">Create an account</a><!--Doesn't exist-->
    </div>
</div>

<div id="content">
		<%= line_chart @visitCounts, label: "Visit Counts" %>
		<%= column_chart @visitCountsByDayOfWeek, label: "Visit Counts by Day of Week" %>
        <%= column_chart @referralCounts, label: "Referral Counts" %>
		<%= column_chart @referringDomains, label: "Referring Domains" %>
        <%= pie_chart @landingPages, label: "Landing Pages" %>
		<%= pie_chart @deviceTypes, label: "Device Types" %>
		<%= column_chart @utmSources, label: "UTM Sources" %>
		<%= column_chart @utmMediums, label: "UTM Mediums" %>
		<%= column_chart @utmTerms, label: "UTM Terms" %> 
		<%= column_chart @utmContent, label: "UTM Content" %>
		<%= geo_chart @visiterCountries, label: "Visiter Countries" %>
</div>

<footer>
    <a href="https://www.facebook.com/shineregistry/" target="_blank"><img src="images/facebook.png"></a>
    <a href="https://www.instagram.com/shineregistry" target="_blank"><img src="images/instagram.png"></a>
    <a href="mailto:shineregistry@gmail.com"><img src="images/email.png"></a>
    <!--images from http://www.stumblinguponhappiness.com/free-chalkboard-social-media-icons/ -->
    <br>
    <a href="contact.html.erb">Contact</a>
    <a href="help.html.erb">Help</a> <!-- doens't exist yet-->
    <a href="privacy.html.erb">Privacy Policy</a>
    <a href="#top_row">Top of the Page</a>
</footer>
