<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Shine Registry:: <%= controller.controller_name.capitalize %></title>

    <%= stylesheet_link_tag    "application" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script>   ahoy.trackView(); </script>
  </head>
  
  <body>

    <%= yield %>

  </body>
</html>
<div class="row">
