<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Shine Registry:: <%= controller.controller_name.capitalize %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %> -->

    <%= csrf_meta_tags %>

    <script>   ahoy.trackView(); </script>

  </head>

  <body>
    <%= render :partial => "partials/nav" %>
    <div class="row">
      <div class="small-12 columns" id="main_content">
        <h2>Shine Registry</h2>
        <%= render :partial => "partials/flash" %>
        <%= yield %>
      </div>
    </div>

    <footer>
      <div class="small-12 columns" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
<div class="row">
